*:focus{
    outline:none;
}

.form-generator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arimo;
    .form-container {
        display:flex;
        justify-content: center;
        flex-direction: column;
        //min-height: calc(50vh - 150px);
        margin-right:20px;
    }
    .add-input-button {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 336px;
        height: 50px;
        background: white;
        color: #42a7f4;
        font-size: 1.5em;
        border: 2px solid;
        border-color: #42a7f4;
        border-radius: 10px;
        -moz-transistion: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer;

    }
    .add-input-button:hover {
        color: white;
        background-color: #42a7f4;
    }
}

