*:focus{
    outline: none;
}

.form-preview {
    min-width:360px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items:center;
    font-family: Arimo;
    .form-fieldset{
        width:80%;
        max-width:1200px;
        padding-left: 25px;
        padding-right:25px;
        margin-top: 30px;

        .valid-response{
            color: #42a7f4;
            font-family: Arimo;
            font-size:1.2em;
        }
        .invalid-response{
            color: red;
            font-family: Arimo;
            font-size:1.2em;
        }
    }

    .save-button {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 336px;
        height: 50px;
        background: white;
        color: #42a7f4;
        font-size: 1.5em;
        border: 2px solid;
        border-color: #42a7f4;
        border-radius: 10px;
        -moz-transistion: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer;

    }
    .save-button:hover {
        color: white;
        background-color: #42a7f4;
    }
    .information {
       
        font-size: 1.4em;
    }
    
    
}

@media only screen and (max-width: 800px) {
    .save-button{
        font-size:17px !important;
    } 
    .valid-response{
        
        font-size:17px !important;
    }
    .invalid-response{
        
        font-size:17px !important;
    }

}