
<form class='form-preview'>
  <fieldset class='form-fieldset' *ngIf='formElements?.length>0'>

      <ng-container *ngFor='let element of formElements'>
          <app-form-preview-element
      [elementData] = "element"
      ></app-form-preview-element>
      </ng-container>

    <p class = 'invalid-response' *ngIf = 'saveState.valid === false && saveState.dirty === true'>Fill all inputs correctly please!</p>
    <p class = 'valid-response' *ngIf = 'saveState.valid === true && saveState.dirty === true'>Data has been saved successfully!</p>
  </fieldset>

  <button class='save-button' (click) = 'saveAnswers()' >Save</button>
  
</form>