
<div class='form-wrapper'>
    <form class='form-container'>
        <fieldset>
        <p class='question-number'>Question nr. {{formElementModel.number}}</p>
        <ng-container *ngIf='formElementModel.condition.active'>
            <div class='form-field'>
              <label class='field-label'> Condition </label>
              <select class='field-input' name="condition-type" [(ngModel)]='formElementModel.condition.type' (blur)='modelChange()'>
                <option value='Equals'> Equals </option>
                <option value='GratherThan' [disabled]='formElementModel.type!=="Number"'> Grather than </option>
                <option value='LessThan' [disabled]='formElementModel.type!=="Number"'> Less than </option>
              </select>

                <ng-container *ngIf='formElementModel.type !== "Yes/No"; else yesNoInput'>
                  <input   class='field-input text-input' name="condition-value" [(ngModel)]='formElementModel.condition.value' #condition="ngModel" (blur)='modelChange()'>
                  <br>
                  <div class='alert-container' *ngIf="formElementModel.condition.value === '' && formElementModel.type!=='Yes/No' && (condition?.dirty || condition?.touched)">
                    Condition is required
                  </div>
                  <div class='alert-container' *ngIf="checkNumber(formElementModel.condition.value)&& formElementModel.type === 'Number' && (condition?.dirty || condition?.touched)">
                    Answer must be a number
                  </div>
                </ng-container>
                
              <ng-template #yesNoInput>
                  <div class = 'radio-container'>
                    <label class='container'>
                        <input type="radio" name='yesNo' value='yes' (change)='radioButtonChecked("yes")'  checked >
                        <span class='checkmark' ></span>Yes
                    </label>
                    <label class='container'>
                        <input type="radio" name='yesNo' value='no' (change)='radioButtonChecked("no")'>
                        <span class='checkmark' ></span>No
                    </label>

                  </div>
              </ng-template>
            </div>
        </ng-container>
        
      
        <div class='form-field'>
          <label class='field-label'> Question </label>
          <input class='field-input text-input question-input' name="question" [(ngModel)]='formElementModel.question' #question="ngModel" (blur)='modelChange()'>  
          <div class='alert-container' *ngIf="formElementModel.question === '' && (question.dirty || question.touched)">
              Question is required
          </div>
        </div>

      
        <p class='form-field'>
          <label class='field-label'> Type </label>
          <select class='field-input' name="type-value" [(ngModel)]='formElementModel.type' (change)='typeChange()' (change)='modelChange()'>
            <option value='Text'> Text </option>
            <option value='Number'> Number </option>
            <option value='Yes/No'> Yes/No </option>
          </select> 
        </p>
      
        <div class='actions-container'>
          <button type='button' class='action-button add-button' (click)='addSubInput()'> Add Sub-Input </button>
          <button type='button' class='action-button delete-button' (click)='deleteOnClick()'> Delete </button>
        </div>
        </fieldset>
      
      </form>
      
      <div *ngFor='let element of subInputList'>
          <app-form-element class='form-container' 
            [elementData] = "element"
            (removeElement) = "removeChild($event)"
        ></app-form-element> 
      </div>
</div>
