*:focus{
    outline:none;
}
.form-section {
    margin-bottom: 25px;
    margin-top: 25px;
    
    .form-input {
        flex: 1;
        //height: 28px;
        width: 100%;
        //padding-left: 13px;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: black;
        font-size:1.2em;

    }
    .form-input:focus{
        border-color: #42a7f4;
    }
    .question-paragraph{
        margin-bottom: 10px;
        margin-top:10px;
        font-size:1.2em;

    }
    .question-label{
        color:#42a7f4;
        font-weight: bold;
        font-size:1.2em;
    }
    .alert-container{
        color: red;
    }
}

.radio-container {
    display:flex;
    
    flex: 1;
    height: 20px;
    margin-top:15px;
    font-size: 1.2em;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 29px;
        width: 70px;
        left: 10px;
    }
    .container{
        width: 70px;
        text-align: right;
        height: 29px;
        margin-left: 5px;
        display: block;
        position: relative;
        
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 12px;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .container input:checked ~ .checkmark:after {
        display: block;
    }
}


