*:focus{
    outline: none;
}
.form-preview{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 360px;
    font-size:1.2em;
    
    font-family: Arimo;
    .form-fieldset{
        display:flex;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
        width:80%;
        margin-top:30px;

        .question-number {
            color:#42a7f4;
            font-weight: bold;
            
        }
    }
}

@media only screen and (max-width: 800px) {
    .form-preview{
        font-size:14px !important;
    }
    .form-fieldset{
        font-size:14px !important;
    }
 

}
